.App {
  text-align: center;
  width: 500px;
  margin: auto;
}

.donatebutton {
  display: grid;
  grid-template-columns: auto auto auto;
}.donatebutton >div>div>input {
  background-color: rgb(0, 128, 128);
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px;
  color: white;
  width: 60%;
}
.donatesub {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.donatesub >input {
  padding: 5px;
  border: 1px solid black;
}
.donatesub >button {
  padding: 5px;
  background-color: rgb(15, 15, 70);
  color: white;
  font-size: large;
  border-radius: 10px;
}
.donatesub >span {
  float: right;
}
h4 {
  color: rgb(12, 118, 218);
}